.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .video-container {
    position: relative;
    width: 320px; /* Ajusta el tamaño del contenedor de video */
    height: 240px; /* Ajusta el tamaño del contenedor de video */
  }
  
  .video {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .captured-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /* CSS para la ventana de fotos */
.photo-window {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen según sea necesario */
}

.photo-item {
  margin: 10px;
  border-radius: 10px;
}

  