.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .video-container {
    position: relative;
    width: 320px; /* Ajusta el tamaño del contenedor de video */
    height: 240px; /* Ajusta el tamaño del contenedor de video */
  }
  
  .video {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .captured-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2f00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .fotoweb {
    font-size: 40px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    text-align: left; /* Alinear el texto a la izquierda */
    margin-bottom: 10px; /* Espacio entre "FotWeb" y el resto del contenido */
    margin-left: 20px; /* Espacio desde el borde izquierdo */
    color: rgb(248, 248, 249); /* Color del texto en blanco */
  }
  
  
  